* {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

body {
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	overflow-y: scroll;
	line-height: 1.2;
}

h3 {
	margin: 0;
}

img {
	max-width: 100%;
}

strong {
	background: #fff;
}

section {
	padding: 5em 2em;
	/* min-height: 100vh; */
}

.section-title {
	font-family: 'Indie Flower', cursive;
	margin: 0 0 .75em 0;
	font-size: 2.75em;
	text-decoration: underline;
	/* padding-top: 2em; */
	text-align: center;
}

.page {
	/* background-image: url("../../images/screen.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	height: 100vh;
	position: relative; */
}

.screen {
	/* position: absolute;
	top: 48.9%;
	left: 50.75%;
	transform: translate(-50%, -50%);
	height: 365px;
	width: 650px;
	overflow-y: scroll; */
}

/* NAV */

header {
	display: flex;
	justify-content: space-between;
	padding: 1.5em;
}

.nav {
	position: fixed;
	padding: 1.25em 0;
	background: #fff;
	color: #ffa90a;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 100;
	transform: translateX(100%);
	transition: transform 250ms cubic-bezier(.5, 0, .5, 1);
}

.nav-list {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-direction: column;
	margin: 0;
	padding: 0;
	list-style: none;
	height: 100%;
}

.nav-link {
	font-size: 1.25rem;
	color:#ffa90a;
	text-decoration: none;
}

.nav-link:hover {
	text-decoration: #ffa90a;
}

.nav-toggle {
	background: transparent;
	border: none;
	padding: .5em;
	cursor: pointer;
	position: absolute;
	right: 1em;
	top: 1em;
	z-index: 1000;
}

.hamburger {
	display: block;
	position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
	background: #ffa90a;
	width: 2em;
	height: 3px;
	border-radius: 1em;
}

.hamburger::before,
.hamburger::after {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
}

.hamburger::before {top: 6px;}
.hamburger::after {bottom: 6px;}

.nav-open .nav {
	transform: translateX(0); 
}

.nav-open .nav-toggle {
	position: fixed;  
}

.nav-open .hamburger {
	transform: rotate(.625turn);
}

.nav-open .hamburger::after {
	opacity: 0;
}

.nav-open .hamburger::before {
	transform: rotate(90deg) translateX(-6px);
}


/* intro */

.intro {
	
	text-align: left;
	background: #fff;
}

.intro-title {
	font-family: 'Gluten', cursive;
	margin: 0;
	font-size: 3.5rem;
	font-weight: 300;
	color: #000;
}

.intro-title-bold {
	font-family: 'Gluten', cursive;
	font-weight: 800;
	color:#000;
	background: #ffa90a;
	border-radius: 10px;
	
}

.intro-subheading {
	margin: 0;
	font-family: 'Indie Flower', cursive;
	font-size: 2em;
	color:#ffa90a;
	/* color: #a0a0a0; */
	/* text-decoration: underline; */
	/* background: #000; */
	border-radius: 5px;
	
}

/* ABOUT */

.about {
	background: #ffa90a;
	color: #111;
	text-align: center;
	line-height: 1.4;
}

.about-text {
	width: 90%;
	margin: 0 auto;
}

.about-img {
	border-radius: 50%;
	/* width: 80%; */
	display: block;
	/* margin: 0 auto; */
	margin-bottom: 2em;
	border: 10px solid #fff;
}

/* PROJECTS */

.git-projects {
	/* width: 80%; */
	margin: 0 auto;
	background: #111;
	color: #fff;
}

.section-title-projects {
	color:#fff;
}

.git-project {
	/* display: flex; */
	/* justify-content: space-around; */
	margin-bottom: 2.5em;
}

.project-image {
	/* width: 40%; */
	margin-bottom: .5em;
}

.project-title {
	font-size: 1.25em;
	color: #ffa90a;
	margin-bottom: .5em;
	/* text-decoration: underline; */
	text-transform: uppercase;
}

.project-description {
	/* display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 50%; */
	/* margin-bottom: .5em; */
}

.project-text {
	margin: 0 0 .5em 0;
}

.project-link {
	text-decoration: none;
	color: #F5F5F5;
	text-transform: uppercase;
}

.project-link:hover {
	text-decoration: underline;
}

.btn {
	padding: .5em .75em;
	font-family: 'Indie Flower', cursive;
	font-size: 1rem;
	/* border: 3px solid #F5F5F5; */
	border: none;
	border-radius: 5px;
	background: #ffa90a;
	color: #111;
	text-transform: uppercase;
	transition: background .5s ease-in-out;
}

.btn:hover {
	cursor: pointer;
	background: #F5F5F5;
}

btn:focus {
	border: 5px solid #F5F5F5;
}

.margin-left {
	margin-left: 1em;
}

/* CONTACT */

.section-title-contact {
	color: #ffa90a;
}

.contact-data {
	display: flex;
	/* justify-content: center;
	align-items: center;
	gap: 2em; */
	flex-direction: column;
}

.contact-photo-container {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	order: -1;
	margin: 0 auto;
}

.contact-text {
	text-align: center;
	line-height: 1.6
	/* width: 40%; */
}

.contact-photo {
	border-radius: 50%;
	border: 10px solid #ffa90a;
}

.social-list {
	margin: 0 auto;
	padding: 0;
	display: flex;
	justify-content: center;
	width: 50%;
	list-style: none;
}


.social-link {
	text-decoration: none;
	color: #000;
}



